.App {
  text-align: center;
}

.nav{ 
  background-color: rgb(26, 182, 26);
  text-align: center;
  margin-bottom: 20px;
}

.nav ul{
  display: inline-flex;
  list-style: none;
  color: white;
}

.nav ul li{
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.nav ul li .Link{
  text-decoration: none;
  color: white;
}

.active, .nav ul li:hover{
  background-color: rgb(16, 100, 16);
  border-radius: 5px;
}

.sub-menu-1{
  display: none;
}

.nav ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background-color: rgb(26, 182, 26);
  margin-left: 10px;
  margin-right: -10px;
}

.nav ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}

.nav ul li:hover .sub-menu-1 ul li{
  width: 100px;
  padding: 5px;
  border-bottom: 1px dotted white;
  background: transparent;
  border-radius: 0;
  text-align: left;
}